In [3]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv('data/train.csv')
df.head()

,bant_submit,customer_country,business_unit,com_reg_ver_win_rate,customer_idx,customer_type,enterprise,historical_existing_cnt,id_strategic_ver,it_strategic_ver,...,response_corporate,expected_timeline,ver_cus,ver_pro,ver_win_rate_x,ver_win_ratio_per_bu,business_area,business_subarea,lead_owner,is_converted
0,1.0,/Quezon City/Philippines,AS,0.066667,32160,End-Customer,Enterprise,NaN,NaN,NaN,...,LGEPH,less than 3 months,1,0,0.003079,0.026846,corporate / office,Engineering,0,True
1,1.0,/PH-00/Philippines,AS,0.066667,23122,End-Customer,Enterprise,12.0,NaN,NaN,...,LGEPH,less than 3 months,1,0,0.003079,0.026846,corporate / office,Advertising,1,True
2,1.0,/Kolkata /India,AS,0.088889,1755,End-Customer,Enterprise,144.0,NaN,NaN,...,LGEIL,less than 3 months,1,0,0.003079,0.026846,corporate / office,Construction,2,True
3,1.0,/Bhubaneswar/India,AS,0.088889,4919,End-Customer,Enterprise,NaN,NaN,NaN,...,LGEIL,less than 3 months,1,0,0.003079,0.026846,corporate / office,IT/Software,3,True
4,1.0,/Hyderabad/India,AS,0.088889,17126,Specifier/ Influencer,Enterprise,NaN,NaN,NaN,...,LGEIL,less than 3 months,0,0,0.003079,0.026846,corporate / office,NaN,4,True

In [19]:
# customer_country, customer_country.1 이 같음 하나 삭제
df.drop(columns=['customer_country.1'], inplace= True)
print(df.shape)
df.isnull().sum()

(59299, 28)

bant_submit                    0
customer_country             982
business_unit                  0
com_reg_ver_win_rate       44731
customer_idx                   0
customer_type              43961
enterprise                     0
historical_existing_cnt    45543
id_strategic_ver           55855
it_strategic_ver           58178
idit_strategic_ver         54734
customer_job               18733
lead_desc_length               0
inquiry_type                 941
product_category           19374
product_subcategory        50064
product_modelname          50070
customer_position              0
response_corporate             0
expected_timeline          30863
ver_cus                        0
ver_pro                        0
ver_win_rate_x             40882
ver_win_ratio_per_bu       43995
business_area              40882
business_subarea           53773
lead_owner                     0
is_converted                   0
dtype: int64

In [33]:
df['customer_idx'].value_counts() > 1

customer_idx
47466     True
25096     True
37680     True
18030     True
21321     True
         ...
39487    False
41241    False
39422    False
22515    False
30268    False
Name: count, Length: 35112, dtype: bool

In [32]:
df[df['customer_idx']== 21321]['is_converted'].value_counts()

is_converted
False    161
True       1
Name: count, dtype: int64

In [16]:
temp = pd.DataFrame(df['customer_country'])
temp['country'] = temp['customer_country'].apply(lambda x : str(x).split('/')[-1])
temp['country'].unique()

array(['Philippines', 'India', 'Nigeria', 'Saudi Arabia', 'Singapore',
       'Brazil', 'U.A.E', 'South Africa', 'United States', 'Colombia',
       'Mexico', 'Ghana', 'Egypt', 'Democratic Republic of the Congo',
       'Ethiopia', 'Australia', 'nan', 'Kenya', 'Indonesia', 'Oman',
       'Pakistan', 'United Kingdom', 'Guatemala', 'Panama', 'Canada',
       'Bangladesh', 'Papua New Guinea', 'United Republic of Tanzania',
       'Qatar', 'Afghanistan', 'Chile', 'Mozambique', 'Turkey', 'Türkiye',
       'El Salvador', 'Togo', 'Jordan', 'Iraq', 'Israel', 'Sri Lanka',
       'South Korea', 'Portugal', 'Mauritania', 'Uruguay', 'Peru',
       'Germany', 'Romania', 'Norway', 'Jamaica', '', 'Hungary',
       ' Connecticut United States', 'Poland', 'Czech', 'Spain',
       'Argentina', 'Ecuador', 'Senegal', 'Hong Kong', 'Malaysia',
       'Japan', 'Kuwait', 'Ireland', 'Albania', 'Greece', 'Barranquilla',
       'Algeria', 'ARGENTINA', 'Nicaragua', 'Slovenia', 'Italy',
       'Netherlands', 'Dominican Republic', 'France', 'EGYPT',
       'abdohabrouk@gmail.com', 'eslam.fiky@gmail.com',
       'mhaleem@proegypt.net', 'ihabsaad@hotmail.com',
       'Mohamed_mohamed@almansour.com.eg', 'Mostafasakr71@gmail.com',
       'keseba@swift-eg.com', 'mostafa@mark-all.com',
       'sameh_azema@yahoo.com', 'amrmelwani@gmail.com',
       'shswaify@hotmail.com', 'dr_mohhegab@yahoo.com', 'Uganda',
       ' mumbai', 'Iran', 'Paraguay', 'Bolivia', 'Namibia', 'Tunisia',
       'Puerto Rico', 'Anguilla', 'Croatia', 'Fiji', 'Denmark', 'Sweden',
       'Cyprus', 'Belgium', 'Venezuela',
       'Hacienda Heights, California, United States', ' US', 'Maldives',
       ' OK 73601 United States', ' Clinton, OK 73601', 'Morocco',
       'Switzerland', '3801 E Willow St, Long Beach, CA 90815, EE. UU.',
       'Los Angeles, California, United States', 'Honduras', 'Austria',
       '9110 Forest CrossingThe WoodlandsTX77381', 'Russia', 'Bahamas',
       'Burkina Faso', 'Thailand', 'Ivory Coast',
       'Caldwell, New Jersey, United States United States',
       ' United States', 'Gujarat', ' Chennai', 'Cambodia', 'Zimbabwe',
       'Vietnam', 'Barbados', 'Suriname', 'Costa Rica', ' bhilwara',
       ' bangalore', ' hyderabad', ' Anand Vihar Delhi', ' uttar pradesh',
       ' kerela', ' BR', 'Botswana', 'Curaçao', 'Guyana', 'Mali',
       '800 3rd Ave 3rd floor, New York, NY 10022', 'China', 'Latvia',
       'Libya', 'Central African Republic', ' VT 05672', ' ND',
       'Zip 98433', ' Jamaica, NY 11417, USA',
       '723 S Valley Way, Palmer, AK 99645', 'Azerbaijan', 'Yemen',
       'Antigua and Barbuda', '4278 S Buffalo St Orchard Park, NY 14127',
       '30 Cambria Ave, Pleasantville, NJ 08232', ' TX 77024',
       ' NJ 07013', ' KS 66217', 'US Virgin Islands', 'Lebanon', 'Angola',
       'Bulgaria', 'Armenia', 'Trinidad and Tobago', 'Nepal',
       'Luxembourg', 'Somalia', 'Rwanda', ' indore', 'Bahrain', 'Georgia',
       'Mauritius', 'Turks and Caicos Islands',
       '13854 Lakeside Cir Sterling Heights, MI 48313',
       '65 Grove Street, Suite 204  Watertown, MA 02472', ' NY 11358',
       ' Arlington, NY 12603',
       '4278 S Buffalo St  Orchard Park, NY 14127', 'CACERES', 'VALENCIA',
       'GRAN CANARIAS PLAYA DEL INGLES', 'Brunei', 'Malta', 'Taiwan',
       'country', ' MO 63103', ' MO 63103, USA',
       '1156 W Armitage Ave suite b, Chicago, IL 60614, US.',
       ' Square at, 2662 Gateway Rd Suite 165, Carlsbad, CA 92009',
       '3100 Shore Drive Virginia Beach, VA 23451',
       '724 W Business US Highway 60, Dexter, MO 63841,',
       'Herndon, VA 20170', ' IL 61615', 'CA',
       '1817 S Washington AveTitusville, FL 32780, USA',
       '101 Clyde Ave Longwood, FL 32750, USA', '  FL 33404',
       ' 750 Florida Central Parkway Suite #100 Longwood, FL 32750',
       ' FL 33772', ' Wyckoff, NJ 07481, USA', 'GA 31405',
       'Jacksonville Florida', '12718 Kitten Trail, Hudson, FL 34669',
       '881 S Division St, Buffalo, NY 14210, United States',
       'West Caldwell NJ 07960 United States', 'New Hampshire',
       'Saint Kitts and Nevis',
       '63 Flushing Ave Bldg 303, Suite 804, Brooklyn, NY 11205, United States',
       '700 District Dr, Itasca, IL 60143 United States',
       'Little Rock, Arkansas, United States', ' CA 95618',
       '430 N Hamilton RdWhitehall, OH 43213, USA',
       '1775 Liberty Dr, Fort Belvoir, VA 22060, United States',
       '8569 Sudley Rd Ste C Historic District, Manassas, VA 20110, USA',
       ' MA 02780', ' CA 95814', '1385 N Weber Rd, Romeoville, IL 60446,',
       '1755 North Brown Rd. Suite 200 Lawrenceville, GA 30043',
       'Miami, Florida, United States',
       '3440 Rockefeller Ct Waldorf, MD 20602', 'FL 33716', ' FL 33442',
       'Nicolosi (CT), Italy',
       '990 Biscayne Dr, Concord, NC 28027, United States', ' UT 84116',
       '  CA 94555 United States',
       '463 Industrial Park Rd, Elysburg, PA 17824, US',
       '1491 Furnace St, Montgomery, AL 36104, United States', 'MN 55024',
       '135 Broadway, Schenectady, NY 12305, United States',
       '990 S Madera Ave, Kerman, CA 93630, United States', 'SD 57751',
       ' IL 60563United States', ' CA 92078', ' MO 64108.',
       ' IL 60638 United States',
       '7105 Northland Terrace N, Minneapolis, MN 55428',
       '101 MetLife Way, Cary, NC, 27513 – MET1',
       'Delmar, NY 12054 United States',
       "Via dell'informatica 10 - 37036 San Martino Buon Albergo (Veneto), Italy",
       'Myanmar', 'Sierra Leone', 'Sudan', 'Cameroon', "Cote d'Ivoire",
       'Syria', 'Gambia', 'Gabon', 'Montenegro', 'Laos', 'Lithuania',
       'Zambia', 'Belo Horizonte', 'UAE Dubai', 'Estonia',
       'British Virgin Islands', 'Serbia', 'Benin', ' Philippines',
       ' Kenya', ' Indonesia', ' India', ' Brazil', ' Thailand', ' U.A.E',
       ' Oman', ' South Africa', ' Botswana', ' United Kingdom',
       ' Ireland', ' Egypt', ' Argentina', ' Germany', ' Denmark',
       ' Nigeria', ' Canada', 'Macedonia', 'Bosnia and Herzegovina',
       ' Serbia', ' Saudi Arabia', ' Singapore', ' Switzerland',
       'Bermuda', 'New Zealand', ' IL 60191', 'Ukraine', 'Congo',
       'Cra. 51 #12 sur-75, San Fernando, Itagüi, Medellín, Guayabal, Medellín, Antioquia, Colombia',
       '600 5th Street', ' MA 01851', '305 John Street',
       '210 Route 4 East Fl 4', ' IL 60069',
       '1605 Ave. Ponce de León, Suite 400 San Juan, 00909, Puerto Rico',
       '2900 Highway 280Suite 250BirminghamAL35223',
       '100 Vestavia ParkwayBirminghamAL35216', '222 Maxine Dr',
       '275 Mishawum Road', '6601 Carroll Highlands Rd',
       '1380 Enterprise Dr', '3000 Montour Church Road',
       '9820HuntersvilleNC28078', '152 Bowdoin Street', '1001 Main St',
       '300 East Park Drive',
       '31700 Temecula Parkway, Temecula CA 92592 United States',
       '594 Howard StSan FranciscoCA94106',
       '594 Howard StSan FranciscoCA94105',
       '417 20th St NBirminghamAL35203', '24082 Carmel Dr',
       '106 Lakeview DrHomewoodAL35209',
       '1909 Forest Knoll DrHooverAL35244',
       '1808 Lithgow RdCelinaTX75009', 'PO Box 112292CarrolltonTX75011',
       '5555', '7673 HEMPSTON CIR',
       '1503 LBJ ParkwaySuite 700Farmers BranchTX75234',
       '8454 Muirwood TrlFort WorthTX76137', '1560 Chance Ct',
       '2047  w summerdale ave', '955 Powell Ave SW',
       '825 Eastlake Ave E', '2266 Palmer Dr.',
       '5501 Headquarters DrPlanoTX75024', '15806 Longship Ct',
       '416 Panzano Drive', '17215 Welby Way',
       '6005 Commerce Dr. Ste. 300', '1715 Forest Cove Drive,  Apt 201',
       '1537 Rolling Hills Dr.', '126 Diablo Ranch Court',
       '3027 West Bay Villa Ave', '829 Jackson ave',
       '2217 HOUSTON DRIVEMelissaTX75454',
       '899 Kifer RoadSunnyvaleCA94086',
       '100 first stSan FranciscoCA94015',
       '6300 Harry Hines BlvdSte. 1400DallasTX75235',
       '100 Sabine River Dr.HuttoTX78634',
       '6111 W Plano Pkwy #2100PlanoTX75093',
       '1112 Badger Vine LaneArlingtonTX76005',
       '200 cabelLouisvilleKY40206', 'A',
       '9716 McFarring DrFort WorthTX76244',
       '1999 S Bascomb AveSuite 1000CampbellCA95008',
       '2350 Airport FrwyBedfordTX76022', '410 Baylor StAustinTX78703',
       '9111 cypress waters blvdDallasTX75038',
       '9420 West Sam Houston Pkwy NHoustonTX77018',
       '6564 Headquarters DrPlanoTX75051',
       '1209 Derby Run Carrollton, TX 75007CarrolltonTX75007',
       '1 Skyview drFort WorthTX76155', '11330 Clay RdHoustonTX77041',
       '602 Saber Creek Drive', '7700 West Sunrise BlvdPlantationFL33322',
       '230 Highland Ave, Suite 531SomervilleMA2143',
       '5301 Stevens Creek BlvdSanta ClaraCA95051',
       '252 Beech AvenueMelroseMA2176',
       'One Constitution RoadBostonMA2129',
       '9 Landsdowne StreetBostonMA2215', '6 Kimball LaneLynnfieldMA1940',
       '160 Gould St Ste 300, Needham Heights, Massachusetts 02494NeedhamMA2721',
       '77 Massachusetts AveCambridgeMA2139', '36 Margin StPeabodyMA1960',
       '700 Patroon Creek BlvdAlbanyNY12206',
       '400 Centre StreetNewtonMA2458', '400 Centre StNewtonMA2458',
       '2475 Washington BlvdOgdenUT84401',
       '9800 S. Monroe StreetSandyUT84070',
       '9820 Northcross Center CtHuntersvilleNC28078',
       '1100 ITBProvoUT84602', '45 n 200 wWillardUT84340',
       '21903 Ranier Ln', '545 West 111th st Suite 7C', '1 Hoag Dr.',
       '1036 n nalder st',
       '117 Bernal Rd Ste70-422San JoseSan JoseCA95119', 'Kazakhstan',
       'Belarus', '30 Winter Street Boston, MA 02108', 'mumbai',
       'Palestine', 'omeryousef235@yahoo.com',
       'ahmedshanzlezeh0@gmail.com', 'Jancel_moh@hotmail.com',
       'youssefnagi345@gmail.com', 'thawas@gmail.com',
       'islam.zaky@yahoo.com', 'msamy6060@yahoo.com',
       'polessedeek@gmail.com', 'abdullahelkaramany831@gmail.com',
       'hafattah@yahoo.com', 'khaledelnour028@gmail.com',
       'sm@sanbouk.com.eg', 'emadorg@hotmail.com',
       'h_elgindi@hotmail.com',
       '2100 Engineer Rd, Oakland, CA 94607, United States',
       '239 Court St, Brooklyn, NY 11201, United States',
       ' 1110 Morse Rd, Columbus, Ohio, 43229, United States',
       ' CA 92618 United States', 'Jeffersonville, IN United States',
       'Cayman Islands', 'Swaziland', 'Finland', ' United States 32901',
       'Four Embarcadero Center Suite 1400 #85, San Francisco, CA 94111 United States',
       'lucknow', 'Infinity_elec@yahoo.com', 'bahaa.creative@gmail.com',
       'Mohi.ahmed.kassem@gmail.com', 'mahmoud.halawa19@gmail.com',
       'ahmed.elshwadfy@guarismo.com', 'eidoof45@gmail.com',
       'maleem@deltapower.net', 'mk601432@gmail.com', ' gurgaon',
       'Kosovo', 'United States 14503.',
       '335 League St S, Sulphur Springs, TX 75482',
       '2529 W Busch Blvd Suite 1000, Tampa, FL 33618, United States',
       ' Telangana', '136 S IndustrialSalineMI48176', 'Nevada',
       'Via E. De Amicis, 23 . 90044 Carini (PA)', '48201', 'Bari, Italy',
       ' St Cloud, MN 56303',
       '7703 Floyd Curl Dr MC 7800, San Antonio TX 78229 United States',
       '609 Medical Center Dr. Decatur, Texas, 76234',
       '500 N Highway 89 North, Prescott AZ 86313 United States',
       '8 Gay St, Christiana, PA 17509 United States',
       'abdelaziz_eldesoky@hotmail.com', 'samonline44@gmail.com',
       'mahmodelrefaei@ymail.com', 'walidwafeek@yahoo.com', 'St Kitts',
       '275 John Hancock Rd. Taunton, MA, 02780', 'FL 33025',
       'waelahmed.1971@yahoo.com', ' Ohio United States', ' Pune',
       ' MA 02062 United States', 'helmy.3andy@gmail.com',
       'Moh.enab9@gmail.com', 'ahmedfathy868@gmail.com',
       'sherif.hafez512@gmail.com', 'dino_work2013@yahoo.com',
       'ok.omar1985@gmail.com', 'sarah.juman.1979@gmail.com',
       'amrattia1981@yahoo.com', 'Sheerbonnet@gmail.com',
       'mrisuzu4@gmail.com', 'ashraf.m.ezz@hotmail.com',
       'ahmed_shemes22@yahoo.com', ' TX 78572 United States',
       'New York City Metropolitan Area, United States',
       '3804 W Broadway St, Ardmore, OK 73401, United States',
       '993 Niagara Ave, San Diego, CA 92107 United States',
       '6398 College Blvd, Overland Park, KS 66211, United States',
       'Grapevine, Texas, United States United States',
       '28001 238th St, Le Claire, IA 52753, USA', 'Iceland', ' RJ',
       ' odisha', 'amrhussain@hotmail.com', 'onsy.robeil@gmail.com',
       'waelalshehawy@gmail.com', 'taamere@gmail.com',
       'Eslam_mahdi@hotmail.com', 'adel.ouda85@gmail.com',
       'ibrahimrd@gmail.com', 'mostafa.h.hablas@gmail.com', 'Saint Lucia',
       '14700 Caribbean Way', 'Antigua', 'md_8821@yahoo.com', 'Djibouti',
       'San Francisco, CA 94128, United States',
       'Ironhorse Customs LLC 4443 Genella Way North Las Vegas, NV 89031',
       'Belize', 'Colombia C2: Solo información', 'Firenze, Italy',
       'Rio de Janeiro', 'Bucaramanga', 'Cartagena',
       'São Paulo, Pinheiros', 'COLOMBIA', 'Recife', 'St Maarten',
       'Foz de Iguaçu - PR Avenida Tancredo Neves 6731 Jardim Itaipu',
       'Dourados', 'Guinea',
       '116 Village Blvd Suite 200, Princeton, NJ 08540 United States',
       '7610 Market St, Canton, MI 48187, United States',
       'Bus Shed, 6501 Red Hook Rd #201, Nazareth, St Thomas 00802, U.S. Virgin Islands',
       ' OR 97128',
       '1600 Rosecrans Ave bldg 7 ste 101, Manhattan Beach, CA 90266,',
       ' CA 92657 United States', ' Warren, OH 44483.',
       ' IN 46601, EE. UU.', ' gujarat', ', MO 64802',
       '6252 E Grant Rd suite 150 Tucson, AZ 85712', 'SC 29555',
       ' Benbrook, TX 76126', '9631 Liberty Rd B, Randallstown, MD 21133',
       '1800 Congress Ave., Austin, TX 78701', 'AGOST, ALICANTE',
       'ELCHE, ALICANTE', 'MADRID', 'SPAIN',
       'Θέση Πέτσα Βακαλοπούλου ΒΙΟΠΑ Παλλήνης  153 51', 'NY',
       ' VA 22209', ' NV 89119',
       '85 W Main St Suite C, Canton, GA 30114,',
       '1100 Lee Ave, Lafayette, LA 70501,',
       '1275 Sister Grove Rd Van Alstyne, TX 75495', ' CA 91915-6002',
       'Ohio', ' FL 32703', 'FL 33013',
       '13351 Dovers St, Waverly, NE 68462, United States',
       '717 General Booth BlvdVirginia Beach, VA 23451, USA', 'GA 30039',
       'Largo, Florida, United States United States',
       'P.O. Box 291992, Port Orange, FL 32129',
       '7581 S Franklin Way, Centennial, CO 80122, United States',
       '1222 Eastwick CirMurphy, TX 75094, United States', ' MO 64506',
       ' TX 75098', ' CO 80127',
       '2877 Prospect Rd, Fort Lauderdale, FL 33309', 'Cuiabá',
       'Colombia  Cartagena', 'Cuba', 'Netherlands Antilles', 'Aruba',
       ' Chile', ' Poland', ' Colombia', ' Türkiye', ' Algeria',
       ' Vietnam', ' Mexico', ' Panama', ' Honduras', ' Togo', ' Jordan',
       ' Israel', ' Romania', ' Belgium',
       'CARRERA 11A 94-46 EDIFICIO CHICO 3000 PISO 3 BOGOTA', 'Haiti',
       'Mongolia', 'Isle of Man', 'Slovakia',
       '823 Gateway Center Way, San Diego, CA 92102',
       'NY 10566 United States', 'MI 48827', 'TN 38120',
       '810 N KINGSTON DR PEORIA, IL 61604-2145', ' OH 45215, USA',
       '3 Nasson Avenue', '1397 Etowah DriveAtlantaGA30319',
       '450 Riverchase PkwyBirminghamAL35186',
       '3131 BriarPark Dr Suite 200HoustonTX77042',
       '4880 Stevens Creek BlvdSan JoseCA95129',
       '2367 N 2650 WFarr WestUT84404', 'Sao Paulo',
       'Richardson, Texas, United States', 'PerU',
       'Centro de Produção Audiovisual - Sesc São Paulo', 'João Pessoa',
       '54 Sugar Creek Center Blvd #300, Sugar Land, TX 77478, United States',
       '1919 Minnesota Ct, Mississauga, ON L5N', 'São Paulo',
       'Capão da canoa', 'Ha Noi', 'Colombia - cartagena',
       'Dominican republic', 'Aparecida', 'Manaus'], dtype=object)

In [21]:
A = 'EPYPT'
A.split('/')[-1]

'EPYPT'

In [9]:
df['bant_submit'].unique()

array([1.  , 0.75, 0.5 , 0.25, 0.  ])

In [14]:
df['customer_country'].apply(lambda x : str(x).split('/')[-1])

0        Philippines
1        Philippines
2              India
3              India
4              India
            ...
59294         Poland
59295       Colombia
59296           Peru
59297           Peru
59298         France
Name: customer_country, Length: 59299, dtype: object